<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/commonStyle.css">
	<link rel="stylesheet" href="/styles/index.css">
	<script src="/scripts/index.js" defer></script>
	<title>Index</title>
</head>
<body>
	<header>
		<h1>Inventory Store</h1>
		<div class="elements">
			<%- include("components/searchInput.ejs", {handler: "sendHeader.sendForm(this)"}) %>
			<%- include( "components/dropDown.ejs" , { name: "Groups" , attr:locals.groups }) %>
				<%- include("components/dropDown.ejs", { name: "Tags" , attr:locals.genres }) %>
		</div>
	</header>
	<main>
		<%- include("components/searchInput.ejs", {handler: "sendMain.sendForm(this)"}) %>
		<% if(locals.items) { %>
			<% items.forEach(item => { %>
				<%- include("components/card.ejs", {item}) %>
			<% }); %>
		<% } %>
	</main>
</body>
</html>